<div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body" [formGroup]="profileForm">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">License Plate <span class="required-noti">(*)</span></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" formControlName="license" required>
                </div>
                <div class="notification" *ngIf="profileForm.value.license=='' &&isSubmited">
                    <h5>{{NOTICE_LICENSE}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Car Type </h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" formControlName="cartype" required>
                </div>
                <div class="notification" *ngIf="profileForm.value.cartype=='' &&isSubmited">
                    <h5>{{NOTICE_CAR_TYPE}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Car Color</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" formControlName="carcolor" required>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Company <span class="required-noti">(*)</span></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <select class="custom-select form-control" formControlName="company" required>
                        <option [value]="c.name" *ngFor="let c of companyData" [ngValue]="companyData">{{c.name}}
                        </option>
                    </select>
                </div>
                <div class="notification" *ngIf="profileForm.value.company=='' &&isSubmited">
                    <h5>{{NOTICE_COMPANY}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Parking Lot <span class="required-noti">(*)</span></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <select class="custom-select form-control" formControlName="parkinglot" required>
                        <option>Parking LOt
                        </option>
                    </select>
                </div>
                <div class="notification" *ngIf="profileForm.value.parkinglot=='' &&isSubmited">
                    <h5>{{NOTICE_PARKINGLOT}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   
                    <button type="submit" (click)="reset()" class="btn btn-warning btn-sm">
                        <mat-icon>refresh</mat-icon>Reset
                    </button>
                    <button type="submit" (click)="submit()" [disabled]="profileForm.invalid"
                        class="btn btn-success btn-sm">
                        <mat-icon>add</mat-icon>Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>