<app-search-bar placeholder="Parking Lot Search" (inputString)="searchUser($event)" [option]="option"></app-search-bar>
<div class="table100 ver1 m-b-110">
    <div class="table100-head">
        <table>
            <thead>
                <tr class="row100 head">
                    <th class="cell100 column1">ID</th>
                    <th class="cell100 column2">Parking Lot</th>
                    <th class="cell100 column3">Place</th>
                    <th class="cell100 column4">Area</th>
                    <th class="cell100 column5">Price</th>
                    <th class="cell100 column6">Status</th>
                    <th class="cell100 column7">Action</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table100-body js-pscroll">
        <table>
            <tbody>
                <tr class="row100 body">

                    <td class="cell100 column1">1</td>
                    <td class="cell100 column2">Bai So 1</td>
                    <td class="cell100 column3">Khu Dong</td>
                    <td class="cell100 column4">20</td>
                    <td class="cell100 column5">250000</td>
                    <td class="cell100 column6">Blank</td>

                    <td class="cell100 column7">
                        <mat-icon (click)="edit(1)">settings</mat-icon>
                        <mat-icon (click)="remove(1)">remove_circle_outline</mat-icon>
                    </td>
                </tr>
                <!-- <tr class="row100 body">
                    <td class="cell100 column1">1001</td>
                    <td class="cell100 column1">Le Anh Son</td>
                    <td class="cell100 column2">Employee</td>
                    <td class="cell100 column3">Date of Birth</td>
                    <td class="cell100 column4">Email</td>
                    <td class="cell100 column5">Phone</td>
                    <td class="cell100 column6">Address</td>
                    <td class="cell100 column7">
                        <mat-icon (click)="edit(1004)">settings</mat-icon>
                        <mat-icon (click)="remove(1001)">remove_circle_outline</mat-icon>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>