<div class="container">
    <div class="input-group">
        <input type="text" class="form-control" [placeholder]="placeholder" [(ngModel)]="searchInputString">
        <div class="input-group-append">
            <div class="btn btn-secondary" type="button">
                <mat-icon>search</mat-icon>
            </div>
        </div>
    </div>
    <div class="filter-group">
        <div class="btn filter">
            <div  class="btn btn-light btn-custome">Filter By</div>
            <select class="btn btn-light custom-select">
                <option selected>{{option}}</option>
            </select>
        </div>
        <div class="btn search">
            <button type="button" class="btn btn-primary" (click)="sendSearchStringToParent()">Search</button>
        </div>
    </div>
</div>